.needtoloadimagestyle{
	background-image:url('chrome-extension://__MSG_@@extension_id__/reload.png');
    background-repeat: no-repeat;
    background-position: center center;
	opacity:0;
}
.needtoloadimagestyle:hover{
	opacity: 1;
}
.loadedimagestyle{
	opacity: 1;
}


